body {
    width: 90%;
    margin: 0 auto;
}

header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #b5b5b5;
}

.logo-row {
    width: 150px;
    margin: 0 auto;
}

.logo {
    width: 75%;
    height: 100px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}


.row {
  display: flex;
}

.column {
  flex: 50%;
  padding-top: 10px;
}