body {
    width: 90%;
    margin: 0 auto;
}

header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #b5b5b5;
}

.logo-row {
    width: 150px;
    margin: 0 auto;
}

.logo {
    width: 75%;
    height: 100px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.topnav a {
  float: left;
  color: #b5b5b5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Change the color of links on hover */

/* Add a color to the active/current link */

/* Centered section inside the top navigation */
.topnav-centered a {
  float: center;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.home-about {
    padding-left: 10px;
}


.row {
  display: flex;
}

.column {
  flex: 50%;
  padding-top: 10px;
}