.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

body {
    width: 90%;
    margin: 0 auto;
}

header {
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    background-image: url("images/paper.png");
}

.center {
  display: inline-block;
  margin: 0 auto;
}

/*.logo-row {
    width: 150px;
    margin: 0 auto;
}

.logo {
    width: 25%;
    height: 25px;
    padding-left: 15px;
    padding-top: 10px;
}*/


.nav{
    border-bottom: 1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:right;
    
}
.nav li{
    display:inline;
    border-right:solid 1px #000;
    font-family: "Courier New", Courier, monospace;
    
}

.nav li:last-child{
    display:inline;
    border-right: none;

}
.nav a{
    display:inline-block;
    text-decoration: none;
    color: #000;
    padding:10px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding-top: 20px;
}

.home-about-title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
}

.home-about-text {
    text-align: center;
}