<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	showThumbsButton="true"
	useThumbDots="true"

>
  <image imageURL="images/israel_taglit.jpg"
	thumbURL="thumbs/israel_taglit.jpg"
	linkURL="images/israel_taglit.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/israel_taglit.jpg">
    <title><![CDATA[Birthright Bus 286 - Israel]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bethlehem.jpg"
	thumbURL="thumbs/bethlehem.jpg"
	linkURL="images/bethlehem.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/bethlehem.jpg">
    <title><![CDATA[Bethlehem]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/colombia.jpg"
	thumbURL="thumbs/colombia.jpg"
	linkURL="images/colombia.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/colombia.jpg">
    <title><![CDATA[Tayrona National Park - Taganga, Colombia]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/rome.jpg"
	thumbURL="thumbs/rome.jpg"
	linkURL="images/rome.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/rome.jpg">
    <title><![CDATA[Coliseum - Rome, Italy]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/frantisek.jpg"
	thumbURL="thumbs/frantisek.jpg"
	linkURL="images/frantisek.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/frantisek.jpg">
    <title><![CDATA[Sedlec Ossuary - Kutná Hora, Czech Republic]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gokarty.jpg"
	thumbURL="thumbs/gokarty.jpg"
	linkURL="images/gokarty.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/gokarty.jpg">
    <title><![CDATA[Polish National Stadium - Warsaw, Poland]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/israel.jpg"
	thumbURL="thumbs/israel.jpg"
	linkURL="images/israel.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/israel.jpg">
    <title><![CDATA[Golan Heights, Israel]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/japan.jpg"
	thumbURL="thumbs/japan.jpg"
	linkURL="images/japan.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/japan.jpg">
    <title><![CDATA[Thundergod Gate - Tokyo, Japan]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/lima.jpg"
	thumbURL="thumbs/lima.jpg"
	linkURL="images/lima.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/lima.jpg">
    <title><![CDATA[Lima, Peru]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/matterhorn.jpg"
	thumbURL="thumbs/matterhorn.jpg"
	linkURL="images/matterhorn.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/matterhorn.jpg">
    <title><![CDATA[Matterhorn - Zermatt, Switzerland]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/paraty_rock.jpg"
	thumbURL="thumbs/paraty_rock.jpg"
	linkURL="images/paraty_rock.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/paraty_rock.jpg">
    <title><![CDATA[Praia Vermelha - Paraty, Brazil]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/petra.jpg"
	thumbURL="thumbs/petra.jpg"
	linkURL="images/petra.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/petra.jpg">
    <title><![CDATA[Al-Khazneh (Treasury) - Petra, Jordan]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/ronda_puente.jpg"
	thumbURL="thumbs/ronda_puente.jpg"
	linkURL="images/ronda_puente.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/ronda_puente.jpg">
    <title><![CDATA[Ronda, Spain]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/santiago.jpg"
	thumbURL="thumbs/santiago.jpg"
	linkURL="images/santiago.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/santiago.jpg">
    <title><![CDATA[Santiago, Chile]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/st_gallen.jpg"
	thumbURL="thumbs/st_gallen.jpg"
	linkURL="images/st_gallen.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/bjflamm_highlights/st_gallen.jpg">
    <title><![CDATA[St. Gallen, Switzerland]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>