<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/wolfsburg2.jpg"
	thumbURL="thumbs/wolfsburg2.jpg"
	linkURL="images/wolfsburg2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/wolfsburg2.jpg"

>
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/welcome copy.jpg"
	thumbURL="thumbs/welcome copy.jpg"
	linkURL="images/welcome copy.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/welcome copy.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/bikes.jpg"
	thumbURL="thumbs/bikes.jpg"
	linkURL="images/bikes.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/bikes.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/breakfast.jpg"
	thumbURL="thumbs/breakfast.jpg"
	linkURL="images/breakfast.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/breakfast.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/wharf.jpg"
	thumbURL="thumbs/wharf.jpg"
	linkURL="images/wharf.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/wharf.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/iam.jpg"
	thumbURL="thumbs/iam.jpg"
	linkURL="images/iam.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/iam.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/dribanis.jpg"
	thumbURL="thumbs/dribanis.jpg"
	linkURL="images/dribanis.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/dribanis.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/crew.jpg"
	thumbURL="thumbs/crew.jpg"
	linkURL="images/crew.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/crew.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mobbin.jpg"
	thumbURL="thumbs/mobbin.jpg"
	linkURL="images/mobbin.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/mobbin.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/dinner2.jpg"
	thumbURL="thumbs/dinner2.jpg"
	linkURL="images/dinner2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/dinner2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/fence.jpg"
	thumbURL="thumbs/fence.jpg"
	linkURL="images/fence.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/fence.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/treeline.jpg"
	thumbURL="thumbs/treeline.jpg"
	linkURL="images/treeline.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/treeline.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/reyks.jpg"
	thumbURL="thumbs/reyks.jpg"
	linkURL="images/reyks.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/reyks.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/museum.jpg"
	thumbURL="thumbs/museum.jpg"
	linkURL="images/museum.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/museum.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/watchmen.jpg"
	thumbURL="thumbs/watchmen.jpg"
	linkURL="images/watchmen.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/watchmen.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/heineken.jpg"
	thumbURL="thumbs/heineken.jpg"
	linkURL="images/heineken.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/heineken.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/driban_maiden.jpg"
	thumbURL="thumbs/driban_maiden.jpg"
	linkURL="images/driban_maiden.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/driban_maiden.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/rydwy.jpg"
	thumbURL="thumbs/rydwy.jpg"
	linkURL="images/rydwy.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/rydwy.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tour.jpg"
	thumbURL="thumbs/tour.jpg"
	linkURL="images/tour.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/tour.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/hein2.jpg"
	thumbURL="thumbs/hein2.jpg"
	linkURL="images/hein2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/hein2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/wharf3.jpg"
	thumbURL="thumbs/wharf3.jpg"
	linkURL="images/wharf3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/wharf3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/river.jpg"
	thumbURL="thumbs/river.jpg"
	linkURL="images/river.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/river.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/rottedam.jpg"
	thumbURL="thumbs/rottedam.jpg"
	linkURL="images/rottedam.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/rottedam.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/rotterdam2.jpg"
	thumbURL="thumbs/rotterdam2.jpg"
	linkURL="images/rotterdam2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/rotterdam2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/rotterdam3.jpg"
	thumbURL="thumbs/rotterdam3.jpg"
	linkURL="images/rotterdam3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/rotterdam3.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/street.jpg"
	thumbURL="thumbs/street.jpg"
	linkURL="images/street.jpg"
	linkTarget="_blank"
	sourcePath="/Users/bjflamm/Documents/External_HD_Photos/bjflamm_gh/amster:rotter:dam_2015/street.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>