<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/birthright286.jpg"
	thumbURL="thumbs/birthright286.jpg"
	linkURL="images/birthright286.jpg"
	linkTarget="_blank"
    <title><![CDATA[Birthright Bus 286]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/caesarea.jpg"
	thumbURL="thumbs/caesarea.jpg"
	linkURL="images/caesarea.jpg"
	linkTarget="_blank"
    <title><![CDATA[Caesarea]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/churchnativity.jpg"
	thumbURL="thumbs/churchnativity.jpg"
	linkURL="images/churchnativity.jpg"
	linkTarget="_blank"
    <title><![CDATA[Bethlehem - Church of the Nativity]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/masada.jpg"
	thumbURL="thumbs/masada.jpg"
	linkURL="images/masada.jpg"
	linkTarget="_blank"
    <title><![CDATA[Masada]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/meron.jpg"
	thumbURL="thumbs/meron.jpg"
	linkURL="images/meron.jpg"
	linkTarget="_blank"
    <title><![CDATA[Mt. Meron]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/yadvashem.jpg"
	thumbURL="thumbs/yadvashem.jpg"
	linkURL="images/yadvashem.jpg"
	linkTarget="_blank"
    <title><![CDATA[Yad Vashem - Holocaust Memorial]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/yerushalayim.jpg"
	thumbURL="thumbs/yerushalayim.jpg"
	linkURL="images/yerushalayim.jpg"
	linkTarget="_blank"
    <title><![CDATA[Jerusalem]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>